.about {
    padding-top: 72px;
    
    &__container {
        position: relative;
        background-color: white;
        border-radius: 24px;
        padding: 72px 56px 72px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // background-image: url(/src/img/hero/about.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
        overflow: hidden;
        gap: 10px;

        @media (max-width:920px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 200px;
            padding: 0px;

        }
    }

    h2 {
        font-size: clamp(28px, 3vw, 52px);
    }

    p {
        line-height: 1.3;
    }

    &__text-container {
        max-width: 604px;

        p {
            padding-top: 32px;
            @media (max-width:480px) {
                padding-top: 16px;
            }
        }
    }

    &__left {
        z-index: 1;
        @media (max-width:920px) {
            
              padding: 32px 32px 0;
            
        }
    }

    &__right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 42px;
        position: absolute;
        // left: 100px;
        top: -145px;
        z-index: 0;

        @media (max-width:1200px) {
            gap: 10px;
        }

        @media (max-width:920px) {
            gap: 20px;
        }
        @media (max-width:480px) {
            top: -20px;
        }
    }

    &__slider {
        position: relative;

        @media (max-width:920px) {
            overflow: hidden;

        }
    }

    &__right-dinam {

        transform: rotate(15deg);
        cursor: pointer;

        @media (max-width:1200px) {
            transform: rotate(0);

            img {
                max-width: 100%;
            }
        }

        @media (max-width:920px) {
            transform: rotate(15deg);
            img {
                max-width: 80%;
            }
           
        }

        .goup {
            transform: translate3d(0, 0, 0);
            /* Hey browser, please use my GPU */


            animation-name: move;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 10s;
            animation-direction: normal;
            animation-delay: 0s;

            @media (max-width:1200px) {
                animation-name: move1200;
            }

            @media (max-width:1020px) {
                animation-name: move1024;
            }
            @media (max-width:920px) {
                animation-name: move900;
                li{
                    display: flex;
                    justify-content: end;
                }
            }
        }

        .godown {
            transform: translate3d(0, 0, 0);

            animation-name: move;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-duration: 10s;
            animation-direction: reverse;
            animation-delay: 0s;

            @media (max-width:1200px) {
                animation-name: move1200;
            }

            @media (max-width:1020px) {
                animation-name: move1024;
            }

            @media (max-width:920px) {
                animation-name: move900;
            }

            // @media (max-width:1050px) {
            //     animation-name: move;

            // }

            //animation: moveDown linear infinite 12s;

            // +px
        }
    }

    &__right-dinam ul {
        display: grid;
        gap: 30px;

        @media (max-width:1200px) {
            gap: 10px;
        }
    }
    @media (max-width:480px) {
        padding-top: 38px;
    }
}

.item {
    display: grid;
    gap: 30px;

    @media (max-width:1200px) {
        gap: 10px;
    }
}

@keyframes move {

    100% {
        transform: translateY(calc(-51% - 0.1vw));

    }
}

@keyframes move1200 {

    100% {
        transform: translateY(calc(-50.5% - 0.2vw));
    }
}

@keyframes move1024 {

    100% {
        transform: translateY(calc(-50.5% - 0.1vw));
    }
}

@keyframes move900 {

    100% {
        transform: translateY(calc(-50.5%));
    }
}