* {
  transition: 600ms all;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Golos Text;
  line-height: 1.2;
  scroll-behavior: smooth;
  list-style-type: none;
}

:root {
  --mainBlack: #04081B;
  --mainRed: #FF0000;
  --mainGrey: #8489A0;
}

body {
  background-color: #F9F9F9;
}

h1 {
  font-size: clamp(32px, 3.5vw, 64px);
  font-weight: 700;
  color: var(--mainBlack);
}

h2 {
  font-size: clamp(24px, 3.5vw, 48px);
  font-weight: 700;
  color: var(--mainBlack);
}

h3 {
  font-size: clamp(16px, 3.5vw, 24px);
  font-weight: 600;
}

.container {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

a {
  color: var(--mainBlack);
  font-weight: 500;
  font-size: clamp(14px, 1vw, 16px);
  cursor: pointer;
}
a:hover {
  color: var(--mainRed);
}

p {
  font-size: clamp(16px, 1.5vw, 20px);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

.small {
  font-size: clamp(12px, 1.5vw, 14px);
  font-weight: 400;
  color: var(--mainGrey);
}

.pb {
  padding-bottom: 40px;
}

.header {
  position: relative;
}
.header__logos {
  display: flex;
  position: absolute;
  gap: 24px;
  top: 0;
  padding-top: 40px;
}
@media (max-width: 920px) {
  .header__logos {
    position: relative;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .header__logos {
    padding-top: 0px;
  }
}
.header__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .header__main {
    gap: 25px;
  }
}
@media (max-width: 920px) {
  .header__main {
    grid-template-columns: 1fr;
  }
}
.header__texts-container {
  max-width: 529px;
}
.header__texts-container p {
  padding: 16px 0 40px;
  line-height: 1.3;
}
@media (max-width: 480px) {
  .header__texts-container p {
    padding: 16px 0;
  }
}
@media (max-width: 920px) {
  .header__texts-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}
.header__slider {
  display: flex;
  justify-content: end;
}
@media (max-width: 920px) {
  .header__slider {
    justify-content: center;
  }
}
.header__slider-elem {
  position: relative;
}
.header__slider-info {
  transition: 300ms;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 0 32px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .header__slider-info {
    bottom: -25%;
  }
}
.header__slider-info .reed-more {
  position: absolute;
  bottom: 32px;
}
.header__slider-img .heroimg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.header__slider-img .heroimg.activehero {
  opacity: 1;
}
.header__slider-img img {
  border-radius: 20px;
  max-width: 100%;
}
.header__about-hero {
  max-width: 75%;
  position: absolute;
  opacity: 0;
}
@media (max-width: 480px) {
  .header__about-hero {
    max-width: calc(100% - 108px);
  }
}
.header__about-hero p {
  padding: 8px 0 25px;
}
.header__about-hero .panim {
  opacity: 0;
}
.header__about-hero .reed-more {
  position: absolute;
  bottom: 32px;
}
.header__about-hero.activehero {
  opacity: 1;
}
.header__about-hero.activehero .panim {
  opacity: 1;
}
.header__popup {
  height: 100vh;
  align-items: center;
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(66, 66, 66, 0.768627451);
  opacity: 0;
  /* Define the thumb style */
  /* Define the track style */
}
.header__popup h3 {
  padding-bottom: 8px;
}
.header__popup img {
  padding-bottom: 24px;
  max-width: 100%;
}
.header__popup ::-webkit-scrollbar {
  width: 3px;
  height: 15px;
  right: 100px;
}
.header__popup ::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}
.header__popup ::-webkit-scrollbar-track {
  background-color: var(--mainGrey);
  box-shadow: inset 0 0 2px 2px gainsboro;
}
.header__popup.show {
  z-index: 9999;
  opacity: 1;
}
@media (max-width: 480px) {
  .header__right {
    padding-bottom: 25%;
  }
}

.popup__container {
  max-width: 900px;
  position: relative;
}

.krest {
  width: 40px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 5px;
  top: 25px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.krest:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 1px;
  background-color: black;
  transform: rotate(45deg);
}
.krest:before {
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: black;
  transform: rotate(135deg);
}

.t2.grey {
  font-size: clamp(14px, 1vw, 16px);
  color: var(--mainGrey);
  text-align: start;
}

.popup-p {
  padding-bottom: 24px;
}

.popup-p.pt {
  padding-top: 24px;
}

.popup-p.bold {
  font-weight: 700;
}

.popup__main {
  padding: clamp(24px, 2vw, 48px);
  background: white;
  max-height: 554px;
  overflow-y: scroll;
}

.bg-hero {
  opacity: 0;
}

.reed-more {
  position: relative;
}
.reed-more:after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: var(--mainRed);
}

.arrows {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 88px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
@media (max-width: 720px) {
  .arrows {
    right: 0px;
  }
}

.arrow {
  width: 40px;
  aspect-ratio: 1/1;
  background: transparent;
  border: unset;
  cursor: pointer;
}

.arrow.disable {
  opacity: 0.2;
}

.social {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-icon {
  width: 32px;
  aspect-ratio: 1/1;
  background-color: var(--mainRed);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.social-icon:hover {
  background-color: black;
}

.about {
  padding-top: 72px;
}
.about__container {
  position: relative;
  background-color: white;
  border-radius: 24px;
  padding: 72px 56px 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
  gap: 10px;
}
@media (max-width: 920px) {
  .about__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    padding: 0px;
  }
}
.about h2 {
  font-size: clamp(28px, 3vw, 52px);
}
.about p {
  line-height: 1.3;
}
.about__text-container {
  max-width: 604px;
}
.about__text-container p {
  padding-top: 32px;
}
@media (max-width: 480px) {
  .about__text-container p {
    padding-top: 16px;
  }
}
.about__left {
  z-index: 1;
}
@media (max-width: 920px) {
  .about__left {
    padding: 32px 32px 0;
  }
}
.about__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 42px;
  position: absolute;
  top: -145px;
  z-index: 0;
}
@media (max-width: 1200px) {
  .about__right {
    gap: 10px;
  }
}
@media (max-width: 920px) {
  .about__right {
    gap: 20px;
  }
}
.about__slider {
  position: relative;
}
@media (max-width: 920px) {
  .about__slider {
    overflow: hidden;
  }
}
.about__right-dinam {
  transform: rotate(15deg);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .about__right-dinam {
    transform: rotate(0);
  }
  .about__right-dinam img {
    max-width: 100%;
  }
}
@media (max-width: 920px) {
  .about__right-dinam {
    transform: rotate(15deg);
  }
  .about__right-dinam img {
    max-width: 80%;
  }
}
.about__right-dinam .goup {
  transform: translate3d(0, 0, 0);
  /* Hey browser, please use my GPU */
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction: normal;
  animation-delay: 0s;
}
@media (max-width: 1200px) {
  .about__right-dinam .goup {
    animation-name: move1200;
  }
}
@media (max-width: 1020px) {
  .about__right-dinam .goup {
    animation-name: move1024;
  }
}
@media (max-width: 920px) {
  .about__right-dinam .goup {
    animation-name: move900;
  }
  .about__right-dinam .goup li {
    display: flex;
    justify-content: end;
  }
}
.about__right-dinam .godown {
  transform: translate3d(0, 0, 0);
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 10s;
  animation-direction: reverse;
  animation-delay: 0s;
}
@media (max-width: 1200px) {
  .about__right-dinam .godown {
    animation-name: move1200;
  }
}
@media (max-width: 1020px) {
  .about__right-dinam .godown {
    animation-name: move1024;
  }
}
@media (max-width: 920px) {
  .about__right-dinam .godown {
    animation-name: move900;
  }
}
.about__right-dinam ul {
  display: grid;
  gap: 30px;
}
@media (max-width: 1200px) {
  .about__right-dinam ul {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .about {
    padding-top: 38px;
  }
}

.item {
  display: grid;
  gap: 30px;
}
@media (max-width: 1200px) {
  .item {
    gap: 10px;
  }
}

@keyframes move {
  100% {
    transform: translateY(calc(-51% - 0.1vw));
  }
}
@keyframes move1200 {
  100% {
    transform: translateY(calc(-50.5% - 0.2vw));
  }
}
@keyframes move1024 {
  100% {
    transform: translateY(calc(-50.5% - 0.1vw));
  }
}
@keyframes move900 {
  100% {
    transform: translateY(-50.5%);
  }
}
.map {
  padding: 72px 0;
}
@media (max-width: 480px) {
  .map {
    padding: 38px 0;
  }
}

span.inline-image._loaded.map-circle-placemark__placemark svg {
  background-image: url(/src/img/map.png);
}

span.inline-image._loaded.map-circle-placemark__placemark svg {
  display: none;
}

.map-circle-placemark__caption {
  background: white;
  padding-top: 11px;
  padding-bottom: 11px;
}

.news {
  background-color: white;
}
.news__container {
  padding: 72px 0;
}
@media (max-width: 480px) {
  .news__container {
    padding: 38px 0;
  }
}
.news__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 960px) {
  .news__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .news__list {
    grid-template-columns: 1fr;
  }
}
.news__elem img {
  max-width: 100%;
  border-radius: 24px;
}
.news__title {
  padding: 16px 0 4px;
  max-width: 90%;
}
.news__showmore {
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 40px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 720px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__logos {
  position: relative;
}
.footer__text {
  text-align: center;
}
.footer__text a {
  font-size: 20px;
  font-weight: 500;
}

.t2 {
  text-align: center;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */